/config/database.php
/.idea/.gitignore
/.idea/Jshop_mall.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jsLinters/jshint.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
